@charset "utf-8";
*
{
	margin: 0px;
	padding: 0px;
}
.Top
{
	background: #007700;
	width: 100%;
	height: 10px;
	
}
.Menu
{
	font-family:  Times, "Times New Roman", "serif";
	background: black;
	color:white;
	text-align: center;
	height: 100px;
}
.Menu ul
{
	list-style: none;
}
.Menu ul img
{
	width: 120px;
	height: 100px;
	float: left;
}
.Menu ul li
{
	position: relative;
	width: 200px;
	list-style: none;
	float: left;
	left: 0px;
	
}
.Menu ul li a
{
	text-decoration: none;
	color: white;
	padding: 40px 20px;
	display: block;
	text-align: center;
}
.Menu ul li>.Menu-ex{
	background: black;
	display: none;
}
.Menu ul li a:hover
{
	color:black;
	background: white;
	
}
.Menu ul li:hover >.Menu-ex
{
	position: absolute;
	display: block;

}
.banner
{
	background: url("../Picture/HomePage/FY19 Summer 1_tcm90-50071.jpg");
	background-size: 100% 400px;
	background-repeat: repeat-x,no-repeat;
	width: 100%;
	height: 400px;
}
.main
{
	margin-left: 30px;
	width:100%;
	height: auto;
	
}
.main ul li h2
{
	color: #007700;
	font-weight: bold;
	
}
.main ul li
{
	list-style: none;
}
.main ul li a
{
	text-decoration: none;
	font-size: 30px
}
.footer
{
	margin-top: 85px;
	width: 100%;
	height: 280px;
	background: white;
	float: left;
}
.footer img
{
	

	width: 200px;
	height: 280px;
	float: left;
	
	

}
.footer .text
{
	margin: 35px 0px 0px 50px;
	float: left;
	width: 300px;
	height: 30px;
	font-size: 18px;
	color:#007700;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.footer .if
{
	height: 130px;
	width: 255px;
	float: left;
	font-size: 18px;
	margin-left: -300px;
    margin-top: 80px;
    color: black;
    
}
.footer .Fl
{
	color:#007700;
	float:left;
	font-size: 18px;
	font-weight: bold;
	margin: 35px 0px 0px 50px;
	width:300px;
	height: 30px;
	
}
.footer .Fl img
{
	margin: 20px 0px 0px 20px;
	height: 50px;
	width: 50px;
}
.footer .right img
{
	
	transform: rotate(270deg);
	float:right;
	margin-right: 100px;
}
.footer .company
{
	margin-top: 270px;
	border: 1px solid #313131;
	width: 100%;
	background: #007700;
	
}
