@charset "utf-8";
*
{
	margin: 0px;
	padding: 0px;
	
}
body
{
	background: url(../Picture/Log/photo-1555538994-c7a6b94c194a.jpg) no-repeat;
	background-size: cover;
}
.Bo
{
	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	width: 900px;
	height: 300px;
	margin: 200px auto;
	
}
.Bo p
{
	
	color: aliceblue;
	
}
